In [19]:
import pandas as pd
import numpy as np

from graficos import graficar

ModuleNotFoundError: No module named 'graficos'

In [10]:
export_20_21 = pd.read_csv('export_20_21.csv',sep=';', encoding = 'utf8')
import_20_21 = pd.read_csv('import_20_21.csv',sep=';', encoding = 'utf8')

import_20_21.tail()

,ANO,PRODUTO,MOVIMENTO COMERCIAL,UNIDADE,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ,TOTAL
17,2017,PETRÓLEO,IMPORTAÇÃO,m3,"397565,3473","979391,9097","217102,4763","599975,1321","848567,2182","927099,0978","1079257,881","644490,2947","533816,4271","917299,9591","863962,649","652333,4105","8660861,803"
18,2018,PETRÓLEO,IMPORTAÇÃO,m3,"928042,7278","905373,6082","1065877,586","347136,3495","758314,6754","826599,1154","635280,4854","1533654,094","787649,4367","1687504,554","360697,893","968834,8946","10804965,42"
19,2019,PETRÓLEO,IMPORTAÇÃO,m3,"816655,6748","619854,6113","1256002,351","525376,4841","1111798,586","1165653,596","1431950,921","546062,448","875899,6646","472774,0721","998333,9609","1163044,303","10983406,67"
20,2020,PETRÓLEO,IMPORTAÇÃO,m3,"508576,8341","810705,6","781466,1165","851060,2871","293178,1247","1649147,353","654205,6424","333562,5576","302422,1329","353987,8953","737467,1894","535096,4306","7810876,164"
21,2021,PETRÓLEO,IMPORTAÇÃO,m3,"225466,6812","700485,7247","641554,8859","1123810,065","1293626,945",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3984944,301"

In [14]:
dispendio = pd.read_csv('dispendio-petroleo-2000-2021-uss-fob.csv',sep=';', encoding = 'utf8')
dispendio.tail()

,ANO,PRODUTO,UNIDADE,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ,TOTAL
17,2017,PETRÓLEO,US$ FOB,118307174,309412221,86620514,217237751,284433855,312469853.0,358275935.0,195107993.0,171212195.0,328329584.0,314147839.0,271399262.0,2966954176
18,2018,PETRÓLEO,US$ FOB,343679066,386091562,455994145,151366313,335148290,418800720.0,320632360.0,727748775.0,392074439.0,830192299.0,198898243.0,481875015.0,5042501227
19,2019,PETROLEO,US$ FOB,379404133,247022286,476876145,234675439,494730549,528019891.0,632130643.0,228354217.0,366526669.0,197377025.0,384278635.0,482245846.0,4651641478
20,2020,PETROLEO,US$ FOB,207990370,333210946,301306165,340394731,77926222,485468302.0,259549171.0,86395749.0,87489455.0,98413669.0,190356078.0,145230711.0,2613731569
21,2021,PETROLEO,US$ FOB,96760569,217992635,247178152,424160511,494418836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1480510703

In [13]:
receita = pd.read_csv('receita-petroleo-2000-2021-uss-fob.csv',sep=';', encoding = 'utf8')
receita.tail()

,ANO,PRODUTO,UNIDADE,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ,TOTAL
17,2017,PETRÓLEO,US$ FOB,1764351878,2072786736,1311569791,1000108139,1084204184,1.974958e+09,1.559444e+09,1.346376e+09,1.224511e+09,1.234825e+09,8.770124e+08,1.174849e+09,16624996815
18,2018,PETRÓLEO,US$ FOB,2097812220,1526352825,1697297641,1866533334,1659626149,1.225137e+09,3.465355e+09,1.992925e+09,2.620581e+09,3.113373e+09,2.112114e+09,1.719667e+09,25096773303
19,2019,PETRÓLEO,US$ FOB,2028953419,1596785188,1995565620,2972157607,2161957499,1.580084e+09,1.581879e+09,1.883137e+09,2.093209e+09,2.027454e+09,1.361476e+09,2.719673e+09,24002331852
20,2020,PETRÓLEO,US$ FOB,1707992442,2316023766,2023525034,1817132843,1386002196,1.156303e+09,1.928276e+09,1.496515e+09,1.471325e+09,1.262951e+09,1.459085e+09,1.588727e+09,19613857907
21,2021,PETRÓLEO,US$ FOB,1591315839,1877907033,2655815492,2764880605,2130464925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11020383894